
.mid-con-right{
    border: 1px solid black;
    border-radius: 25px;
}
.pic{
    padding: 4px;
}
.neko-gif{
    width: 180px;
    height: 180px;
    display: flex;
    margin: auto;
    padding: 10px;
}

@media (min-width: 992px) {
    .full-height{
        height:4300px;
    }
    #sticky-sidebar{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}